.mainHeader {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    margin: 0;
}

.navMenu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navMenu li {
    margin-right: 20px;
}

.navMenu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}